/* CSS 样式大杂烩 */

/* 隐藏一些不需要的项目，详见源代码注释 */

/* 以下注释中的次序均从 1 开始计数 */
div.sidebar__menu > div:nth-child(1), /* 隐藏主页下侧侧栏的第 1 个项目 (QQ 邮箱) */
div.nav-bar > div:nth-child(7) { /* 隐藏设置界面的第 7 个项目 (超级调色盘) */
    display: none !important;
}
div.nav.sidebar__nav > div:nth-child(4), div.nav.sidebar__nav > div:nth-child(5), /* 隐藏主页上侧侧栏的第 4, 5 个项目，通常为游戏中心和腾讯文档 */
div.panel-header__action div.func-bar > div:nth-child(1), div.panel-header__action div.func-bar > div:nth-child(2), div.panel-header__action div.func-bar > div:nth-child(3), /* 隐藏聊天页面上侧的第 1-3 个项目 (语音通话，视频通话，屏幕共享) */
div.chat-func-bar > div:nth-child(1) > div:nth-child(2), div.chat-func-bar > div:nth-child(1) > div:nth-child(6), /* 隐藏输入框上侧的第 2, 6 个项目 (截图，语音) */
div#qContextMenu > *:nth-child(2), /* 隐藏菜单栏的第 2 个项目 (检查更新) */
div.sticker-panel__bar div.tabs-container-item:has(i[title="GIF热图"]) { /* 隐藏表情菜单的 GIF 热图 */
    display: none;
}

/* 高亮艾特：将艾特显示为下划线，着色为主题色 */

span.text-element--at {
    text-decoration: underline dashed;
}

/* 别人发的信息，着色为链接 */
.container--others span.text-element--at {
    color: var(--text_link);
}

/* 自己发的信息不能着色，否则看不见 */
/* .container--self span.text-element--at {
    color: var();
} */

/* 媒体查看器透明度修改 */

/* 图片查看器 */
div.main-area__footer {
    backdrop-filter: none;
    background: rgba(0, 0, 0, 0.4);
}
div.image-viewer__tip {
    opacity: 0.4;
}
div.main-area__arrow-icon {
    backdrop-filter: none;
}
/* 视频查看器 */
div.plugin-panel-main-area {
    opacity: 0.4;
}
div.plugin-panel-main-area > div.footer {
    backdrop-filter: none;
}

/* 通过 CSS 隐藏更新提示框 */
div.q-dialog:has(>div.update-dialog) {
    display: none;
}

/* 隐藏 QQ 版本更新小红点 */
sub.q-badge-sub.q-badge-dot.q-badge-dot__small.q-badge__red {
    display: none;
}

/* QQ 表情微调 */

/* 使用系统 Emoji (与字体) */
body, html {
    font-family: system-ui, PingFang SC, PingFangSC-Regular, Microsoft YaHei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif, Apple Braille;
}
/* 表情建议面板宽度调小 */
.editor-qqface-short-panel {
    width: 140px !important;
}
/* 表情建议面板更为紧凑 */
.editor-qqface-short-panel .viewport-list__inner {
    gap: 0px;
    padding: 0px;
}
.item .editor-qqface-short-panel__item {
    margin: 0px;
}
.item .editor-qqface-short-panel__item .item-wrap {
    padding: 0px;
}

/* 添加过渡动画 */
/* 背景颜色 */
* {
    transition-property: background, border, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
i.q-icon {
    transition-property: color, background, border, box-shadow;
}
/* 左侧聊天列表的字 */
.recent-contact-item.across-mode .list-item__title>div>span,
.recent-contact-item.across-mode .summary-main>div {
    transition-property: color;
}
.radio-tab .radio-tab__item>span { /* 好友界面的 tab */
    transition-property: color, opacity !important;
    transition-duration: 0.2s !important;
    transition-timing-function: ease-in-out !important;
}
.operation .send { /* "发送" 按钮颜色（实际上是透明度） */
    transition-property: background, opacity;
}

/* 透明化部分元素 */
.q-context-menu:not(.is-pure), /* 菜单 */
.q-context-sub-menu__container:not(.is-pure), /* 子菜单 */
.expression-panel, /* 表情面板 */
.side-panel, /* 侧栏 */
.q-popover, /* 弹出框 */
.search-result { /* 搜索结果 */
    opacity: 0.9;
}
.editor-qqface-short-panel, /* 表情建议框 */
.q-tooltips__content { /* 提示 */
    opacity: 0.8;
}