/* CSS 样式大杂烩 */

/* 头像浮动 */
#ml-root .ml-list {
    overflow: unset;
}
#ml-root .avatar-span {
    position: sticky;
    top: 1em;
}
#ml-root.record-msg-panel .avatar-span {
    top: 3em;
}

/* 艾特建议面板更为紧凑 */
.editor-at-panel {
    width: 10em !important;
}
.editor-at-panel .viewport-list__inner {
    gap: 0px;
    padding: 0px;
}

/* 隐藏一些不需要的项目，详见源代码注释 */
div.sidebar__menu > div:has(div.mail-item), /* 隐藏主页下侧侧栏的 QQ 邮箱 */
div.nav-bar > div.nav-item:has(img.svip-icon) { /* 隐藏设置界面带 SVIP 的项目 (超级调色盘) */
    display: none !important;
}
div.nav.sidebar__nav > div.nav-item[aria-label="频道"], div.nav.sidebar__nav > div.nav-item[aria-label="游戏"], /* 隐藏主页上侧侧栏的无法隐藏的频道和游戏 */
div.bar-icon:has(#id-func-bar-telephone), div.bar-icon:has(#id-func-bar-video_on), div.bar-icon:has(#id-func-bar-share_screen), div.bar-icon:has(#id-func-bar-channel_robot), /* 隐藏聊天页面上侧的语音通话，视频通话，屏幕共享，机器人指令 */
div.chat-func-bar > div:nth-child(1) > div.bar-icon:has(#id-func-bar-screenshot), div.chat-func-bar > div:nth-child(1) > div.bar-icon:has(#id-func-bar-microphone_on), /* 隐藏输入框上侧的截图，语音按钮 */
div.q-context-menu.more-menu > a.q-context-menu-item:has(span.setting-item-update), /* 隐藏菜单栏的检查更新 */
div.sticker-panel__bar div.tabs-container-item:has(i[title="GIF热图"]), /* 隐藏表情菜单的 GIF 热图 */
div#app > div.window-control-area > div:not([role="button"]) { /* 隐藏窗口控制栏的小面板按钮 */
    display: none;
}

/* 高亮艾特：将艾特显示为下划线，着色为主题色 */
span.text-element--at {
    text-decoration: underline dashed;
}
/* 别人发的信息，着色为链接 */
.container--others span.text-element--at {
    color: var(--text_link);
}
/* 自己发的信息不能着色，否则看不见 */
/* .container--self span.text-element--at {
    color: var();
} */
/* 修复选择 <msg-at> 元素的背景色 */
msg-at::selection {
    background-color: var(--text-selected-color);
}

/* 媒体查看器透明度修改 */

/* 图片查看器 */
div.main-area__footer {
    backdrop-filter: none;
    background: rgba(0, 0, 0, 0.4);
}
div.image-viewer__tip {
    opacity: 0.4;
}
div.main-area__arrow-icon {
    backdrop-filter: none;
}
/* 视频查看器 */
div.plugin-panel-main-area {
    opacity: 0.4;
}
div.plugin-panel-main-area > div.footer {
    backdrop-filter: none;
}

/* 输入框提示 */
.qq-editor[style$='"";'] .ck-placeholder:before {
    --qq-editor-placeholder: "Type words here...";
}

/* 通过 CSS 隐藏更新提示框 */
div.q-dialog:has(>div.update-dialog) {
    display: none;
}

/* 隐藏 QQ 版本更新小红点 */
sub.q-badge-sub.q-badge-dot.q-badge-dot__small.q-badge__red {
    display: none;
}

/* QQ 表情微调 */

/* 使用系统 Emoji (与字体) */
body, html {
    font-family: system-ui, PingFang SC, PingFangSC-Regular, Microsoft YaHei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif, Apple Braille;
}
/* 最近表情面板更为紧凑 */
.stickers.recent-used {
    padding: 0.5em !important;
    row-gap: 0.5em;
    column-gap: 0.5em;
    max-width: 12em;
}
/* 表情建议面板宽度调小 */
.editor-qqface-short-panel {
    width: 10em !important;
}
/* 表情建议面板更为紧凑 */
.editor-qqface-short-panel .viewport-list__inner {
    gap: 0px;
    padding: 0px;
}
.item .editor-qqface-short-panel__item {
    margin: 0px;
}
.item .editor-qqface-short-panel__item .item-wrap {
    padding: 0px;
}

/* 添加过渡动画 */
/* 背景颜色 */
* {
    transition-property: background, border, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
i.q-icon {
    transition-property: color, background, border, box-shadow;
}
/* 侧栏图标背景 */
div.tab-item-mask {
    transition-property: background, opacity;
}
div.tab-item-mask:hover {
    animation: none;
    opacity: 0.04 !important;
}
/* 左侧聊天列表的字 */
.recent-contact-item.across-mode .list-item__title>div>span,
.recent-contact-item.across-mode .summary-main>div {
    transition-property: color;
}
.radio-tab .radio-tab__item>span { /* 好友界面的 tab */
    transition-property: color, opacity !important;
    transition-duration: 0.2s !important;
    transition-timing-function: ease-in-out !important;
}
.operation .send { /* "发送" 按钮颜色（实际上是透明度） */
    transition-property: background, opacity;
}
/* 菜单动画 (Adapted from https://t.me/ntqqtweaks/14) */
@keyframes fadeIn {
    from {
        opacity: 0%;
        margin-top: 10px;
        margin-left: 3px;
    }
    to {
        opacity: 80%;
        margin-top: 0px;
        margin-left: 0px;
    }
}
.q-menu, .q-context-menu, .q-context-sub-menu__container {
    animation: fadeIn 0.2s;
}

/* 透明化部分元素 */
.q-menu, /* 菜单 */
.q-context-menu:not(.is-pure), /* 菜单 */
.q-context-sub-menu__container:not(.is-pure), /* 子菜单 */
.expression-panel, /* 表情面板 */
.side-panel, /* 侧栏 */
.q-popover, /* 弹出框 */
.search-result, /* 搜索结果 */
.q-dialog { /* 对话框 */
    opacity: 0.9;
}
.editor-qqface-short-panel, /* 表情建议面板 */
.editor-at-panel, /* 艾特建议面板 */
.q-tooltips__content, /* 提示 */
.q-notification { /* 通知 */
    opacity: 0.8;
}
