/* ==UserStyle==
@name           Avatar Float
@description    头像浮动
@preprocessor   stylus
@version        0.3.0
@homepageURL    https://github.com/PRO-2684/Transitio-user-css/#avatar-float
@author         PRO-2684
@license     	gpl-3.0
@var range topOffset1 "头像聊天界面顶部偏移 (px)" [8, 0, 100, 1, "px"]
@var range topOffset2 "头像聊天记录顶部偏移 (px)" [46, 0, 100, 1, "px"]
@var range topOffset3 "多选框聊天界面顶部偏移 (px)" [18, 0, 100, 1, "px"]
==/UserStyle== */
#ml-root {
    .ml-list {
        overflow: unset;
    }
    .avatar-span {
        position: sticky;
        top: topOffset1;
    }
    &.record-msg-panel .avatar-span {
        top: topOffset2;
    }
    .msg-picker.q-checkbox {
        position: sticky;
        top: topOffset3;
    }
}
