/* 头像浮动 */
#ml-root {
    .ml-list {
        overflow: unset;
    }
    .avatar-span {
        position: sticky;
        top: 1em;
    }
    &.record-msg-panel .avatar-span {
        top: 3em;
    }
}
