/* 隐藏一些不需要的项目，详见源代码注释 */
div.sidebar__menu > div:has(div.mail-item), /* 隐藏主页下侧侧栏的 QQ 邮箱 */
div.nav-bar > div.nav-item:has(img.svip-icon) { /* 隐藏设置界面带 SVIP 的项目 (超级调色盘) */
    display: none !important;
}
div.q-context-menu.more-menu > a.q-context-menu-item:has(span.setting-item-update), /* 隐藏菜单栏的检查更新 */
div.sticker-panel__bar div.tabs-container-item:has(i[title="GIF热图"]), /* 隐藏表情菜单的 GIF 热图 */
div#app > div.window-control-area > div:not([role="button"]), /* 隐藏窗口控制栏的小面板按钮 */
.sidebar-tianshu-bubble { /* 隐藏聊天页面的广告 */
    display: none;
}
div.nav.sidebar__nav > div.nav-item { /* 隐藏主页上侧侧栏的无法隐藏的频道和游戏 */
    &[aria-label="频道"],
    &[aria-label="游戏"] {
        display: none;
    }
}
div.bar-icon { /* 隐藏聊天页面上侧的语音通话，视频通话，屏幕共享，机器人指令；隐藏输入框上侧的截图，语音按钮 */
    &:has(#id-func-bar-telephone),
    &:has(#id-func-bar-video_on),
    &:has(#id-func-bar-share_screen),
    &:has(#id-func-bar-channel_robot),
    &:has(#id-func-bar-screenshot),
    &:has(#id-func-bar-microphone_on) {
        display: none;
    }
}

