/* ==UserStyle==
@name           q-tag-enhancement
@description    给 qq 的各种头衔添加对应颜色的高光，同时控制头衔的显示/隐藏
@preprocessor   stylus
@version        0.4.1
@homepageURL    https://github.com/PRO-2684/Transitio-user-css/#q-tag-enhancement
@author         Shapaper, huoyan1231, PRO-2684
@license     	gpl-3.0
@var range boxShadowOpacity "高光透明度 (%)" [20, 0, 100, 1, "%"]
@var color ownerColor "群主高光颜色" #FF862E
@var color adminColor "管理员高光颜色" #74A9F6
@var color specialColor "专属头衔高光颜色" #AA76F6
@var color othersColor "普通成员高光颜色" #9E9E9E
@var color botColor "bot 颜色" #0A64FF
@var checkbox hideOwner "隐藏群主 tag" 0
@var checkbox hideAdmin "隐藏管理员 tag" 0
@var checkbox hideSpecial "隐藏专属头衔 tag" 0
@var checkbox hideOthers "隐藏普通成员 tag" 0
@var checkbox hideBot "隐藏 QQ 机器人 tag" 0
@var checkbox hideLevel "隐藏 tag 内等级 (建议同时隐藏普通成员 tag)" 0
==/UserStyle== */
mapping = {
    orange: (ownerColor hideOwner), /* 群主 */
    blue: (adminColor hideAdmin), /* 管理员 */
    purple: (specialColor hideSpecial), /* 专属头衔 */
    grey: (othersColor hideOthers),
};
for _, tagConfig in mapping {
    tagConfig[0] = alpha(tagConfig[0], boxShadowOpacity);
}
botColor = alpha(botColor, boxShadowOpacity);
qTagMixin(boxShadow) {
    for color, tagConfig in mapping {
        &.q-tag--{color} {
            box-shadow: tagConfig[0] boxShadow;
        }
    }
};

/* 聊天界面 tag 高光 */
.group-member-label {
    qTagMixin(0px 0px 4px 1px);
}

/* 成员列表 tag 高光 */
.group-member-label.group-user__label {
    qTagMixin(0px 0px 6px 2px);
}

/* 控制 tag 显示/隐藏 */
.q-tag {
    for color, tagConfig in mapping {
        if tagConfig[1] {
            &.q-tag--{color} {
                display: none;
            }
        }
    }
    if (hideLevel) {
        > .level {
            display: none;
        }
    }
}

/* QQ 机器人 */
.qq-bot-label {
    box-shadow: botColor boxShadowSmall;
    &.group-user__bot {
        box-shadow: botColor boxShadowLarge;
    }
    if (hideBot) {
        display: none;
    }
}
